In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('companyData.csv')
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,shares,Industry,Employee Count
0,2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,135480400,0.0,0.0,aapl,4443270144,Computers and Electronics Manufacturing,172736
1,2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,146322800,0.0,0.0,aapl,4443270144,Computers and Electronics Manufacturing,172736
2,2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,118387200,0.0,0.0,aapl,4443270144,Computers and Electronics Manufacturing,172736
3,2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,108872000,0.0,0.0,aapl,4486889984,Computers and Electronics Manufacturing,172736
4,2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,132079200,0.0,0.0,aapl,4451420160,Computers and Electronics Manufacturing,172736
...,...,...,...,...,...,...,...,...,...,...,...,...
21389,2024-06-17 00:00:00-04:00,145.580002,148.750000,142.139999,147.830002,23909000,0.0,0.0,mu,1107369984,Semiconductor Manufacturing,27124
21390,2024-06-18 00:00:00-04:00,151.740005,157.539993,151.509995,153.449997,42192600,0.0,0.0,mu,1107369984,Semiconductor Manufacturing,27124
21391,2024-06-20 00:00:00-04:00,157.009995,157.410004,142.910004,144.190002,41285000,0.0,0.0,mu,1107369984,Semiconductor Manufacturing,27124
21392,2024-06-21 00:00:00-04:00,137.649994,142.600006,135.699997,139.539993,49893500,0.0,0.0,mu,1107369984,Semiconductor Manufacturing,27124
21393,2024-06-24 00:00:00-04:00,142.350006,142.830002,137.889999,139.009995,31512386,0.0,0.0,mu,1107369984,Semiconductor Manufacturing,27124

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21394 entries, 0 to 21393
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            21394 non-null  object
 1   Open            21394 non-null  float64
 2   High            21394 non-null  float64
 3   Low             21394 non-null  float64
 4   Close           21394 non-null  float64
 5   Volume          21394 non-null  int64
 6   Dividends       21394 non-null  float64
 7   Stock Splits    21394 non-null  float64
 8   symbol          21394 non-null  object
 9   shares          21394 non-null  int64
 10  Industry        21394 non-null  object
 11  Employee Count  21394 non-null  int64
dtypes: float64(6), int64(3), object(3)
memory usage: 2.0+ MB