In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import time

# Stock Data

In [2]:
company_List = ['msft','aapl','nvda','goog','avgo','asml','orcl','amd','crm','qcom','sap','adbe','csco','amat','acn','txn','intu','ibm','now','mu']
date = '2020-01-01'
#the reason for this date2 is because share data doesnt update daily and for when i merge backwards later need that date before my stock data
date2 = '2019-10-01'

In [3]:
def pull_Ticker_Data(company):
    ticker = yf.Ticker(f'{company}')
    hist = ticker.history(start=date)
    hist = hist.reset_index()
    hist['symbol'] = company
    return ticker,hist

In [4]:
def total_Shares(ticker):
    shares = ticker.get_shares_full(start=date2)
    shares = shares[~shares.index.duplicated(keep='first')]
    shares = shares.reset_index()
    shares = shares.rename(columns={0: 'shares','index': 'Date'})
    return shares

In [5]:
def combineHS(hist,shares):
    combined = pd.merge_asof(hist, shares, on='Date', direction='backward')
    return combined

In [6]:
#pull and merge data together
data = pd.DataFrame()
for company in company_List:
    ticker,hist = pull_Ticker_Data(company)
    shares = total_Shares(ticker)
    newData = combineHS(hist,shares)
    data = pd.concat([data, newData], ignore_index=True)
    time.sleep(0.25)

In [7]:
data.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
symbol          0
shares          0
dtype: int64

In [8]:
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,shares
0,2020-01-02 00:00:00-05:00,158.779999,160.729996,158.330002,160.619995,22622100,0.0,0.0,msft,7628810240
1,2020-01-03 00:00:00-05:00,158.320007,159.949997,158.059998,158.619995,21116200,0.0,0.0,msft,7628810240
2,2020-01-06 00:00:00-05:00,157.080002,159.100006,156.509995,159.029999,20813700,0.0,0.0,msft,7628810240
3,2020-01-07 00:00:00-05:00,159.320007,159.669998,157.320007,157.580002,21634100,0.0,0.0,msft,7628810240
4,2020-01-08 00:00:00-05:00,158.929993,160.800003,157.949997,160.089996,27746500,0.0,0.0,msft,7725000192
...,...,...,...,...,...,...,...,...,...,...
22515,2024-06-17 00:00:00-04:00,145.580002,148.750000,142.139999,147.830002,23909000,0.0,0.0,mu,1107369984
22516,2024-06-18 00:00:00-04:00,151.740005,157.539993,151.509995,153.449997,42192600,0.0,0.0,mu,1107369984
22517,2024-06-20 00:00:00-04:00,157.009995,157.410004,142.910004,144.190002,41285000,0.0,0.0,mu,1107369984
22518,2024-06-21 00:00:00-04:00,137.649994,142.600006,135.699997,139.539993,49893500,0.0,0.0,mu,1107369984
22519,2024-06-24 00:00:00-04:00,142.350006,142.830002,137.889999,139.009995,31512386,0.0,0.0,mu,1107369984

In [9]:
data.isna().sum(),data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22520 entries, 0 to 22519
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          22520 non-null  datetime64[ns, America/New_York]
 1   Open          22520 non-null  float64
 2   High          22520 non-null  float64
 3   Low           22520 non-null  float64
 4   Close         22520 non-null  float64
 5   Volume        22520 non-null  int64
 6   Dividends     22520 non-null  float64
 7   Stock Splits  22520 non-null  float64
 8   symbol        22520 non-null  object
 9   shares        22520 non-null  int64
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(2), object(1)
memory usage: 1.7+ MB

(Date            0
 Open            0
 High            0
 Low             0
 Close           0
 Volume          0
 Dividends       0
 Stock Splits    0
 symbol          0
 shares          0
 dtype: int64,
 None)

In [10]:
filter = data['symbol']=='acn'
data[filter]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,shares
15764,2020-01-02 00:00:00-05:00,210.860001,211.919998,208.809998,210.149994,2431100,0.0,0.0,acn,635944000
15765,2020-01-03 00:00:00-05:00,208.500000,210.630005,207.000000,209.800003,1802100,0.0,0.0,acn,635944000
15766,2020-01-06 00:00:00-05:00,208.270004,208.789993,206.809998,208.429993,2841400,0.0,0.0,acn,635944000
15767,2020-01-07 00:00:00-05:00,203.199997,206.259995,203.190002,203.929993,3097400,0.0,0.0,acn,637004032
15768,2020-01-08 00:00:00-05:00,204.000000,205.449997,203.529999,204.330002,2271300,0.0,0.0,acn,641190976
...,...,...,...,...,...,...,...,...,...,...
16885,2024-06-17 00:00:00-04:00,286.230011,288.600006,283.950012,285.529999,3559600,0.0,0.0,acn,628729024
16886,2024-06-18 00:00:00-04:00,285.309998,289.910004,284.390015,285.350006,5314900,0.0,0.0,acn,628729024
16887,2024-06-20 00:00:00-04:00,314.630005,317.730011,298.000000,306.160004,11374600,0.0,0.0,acn,628729024
16888,2024-06-21 00:00:00-04:00,307.029999,310.350006,302.579987,308.980011,8473700,0.0,0.0,acn,626384000
16889,2024-06-24 00:00:00-04:00,305.359985,312.369995,304.700012,307.209991,3293949,0.0,0.0,acn,626384000

# Employee Count Data

In [11]:
#My data for employee count is from clay.com they pull from many different sources. It is far more accurate then if I just pulled from one place and that is why i chose to use it.

In [12]:
eCount = pd.read_csv('Clay-EmployeeCount.csv')
eCount = eCount.drop(columns=['LinkedIn Company Page'])
eCount = eCount.rename(columns={'Company Name':'symbol'})
eCount

   symbol                                 Industry  Employee Count
0    aapl  Computers and Electronics Manufacturing          172736
1    nvda          Computer Hardware Manufacturing           32323
2    goog                     Software Development          287106
3    Msft                     Software Development          229136
4    avgo              Semiconductor Manufacturing           53122
5    asml              Semiconductor Manufacturing           38001
6    orcl            IT Services and IT Consulting          192820
7     amd              Semiconductor Manufacturing           38278
8     crm                     Software Development           75287
9    qcom                       Telecommunications           43321
10    sap                     Software Development          111347
11   adbe                     Software Development           37005
12   csco                     Software Development           98343
13   amat              Semiconductor Manufacturing           27231
14    acn         Business Consulting and Services          566391
15    txn              Semiconductor Manufacturing           30850
16   intu                     Software Development           16085
17    ibm            IT Services and IT Consulting          308832
18    now                     Software Development           27227
19     mu              Semiconductor Manufacturing           27124

# Merge and export

In [13]:
df = data.merge(eCount)

In [14]:
df.isna().sum(),df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21394 entries, 0 to 21393
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            21394 non-null  datetime64[ns, America/New_York]
 1   Open            21394 non-null  float64
 2   High            21394 non-null  float64
 3   Low             21394 non-null  float64
 4   Close           21394 non-null  float64
 5   Volume          21394 non-null  int64
 6   Dividends       21394 non-null  float64
 7   Stock Splits    21394 non-null  float64
 8   symbol          21394 non-null  object
 9   shares          21394 non-null  int64
 10  Industry        21394 non-null  object
 11  Employee Count  21394 non-null  int64
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(3), object(2)
memory usage: 2.0+ MB

(Date              0
 Open              0
 High              0
 Low               0
 Close             0
 Volume            0
 Dividends         0
 Stock Splits      0
 symbol            0
 shares            0
 Industry          0
 Employee Count    0
 dtype: int64,
 None)

In [15]:
df.to_csv('companyData.csv',index=False)