In [267]:
import yfinance as yf
import pandas as pd

In [268]:
msft = yf.Ticker('msft')
hist = msft.history(start='2022-01-01',period='5d')
hist = hist.reset_index()

In [269]:
shares_outstanding = msft.get_shares_full(start='2021-12-01')
shares_outstanding = shares_outstanding[~shares_outstanding.index.duplicated(keep='first')]
shares_outstanding = shares_outstanding.reset_index()

In [270]:
shares_outstanding = shares_outstanding.rename(columns={0: 'shares','index': 'Date'})

In [271]:
shares_outstanding

                         Date      shares
0   2021-12-02 00:00:00-05:00  7519580160
1   2021-12-03 00:00:00-05:00  7521419776
2   2021-12-04 00:00:00-05:00  7507979776
3   2022-01-27 00:00:00-05:00  7496869888
4   2022-02-04 00:00:00-05:00  7800719872
..                        ...         ...
164 2024-05-24 00:00:00-04:00  7432309760
165 2024-05-30 00:00:00-04:00  7432309760
166 2024-05-31 00:00:00-04:00  7432309760
167 2024-06-01 00:00:00-04:00  7432309760
168 2024-06-05 00:00:00-04:00  7432309760

[169 rows x 2 columns]

In [272]:
hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-01-03 00:00:00-05:00,328.117155,330.709994,322.667282,327.530090,28865100,0.0,0.0
1,2022-01-04 00:00:00-05:00,327.608299,327.970344,319.086167,321.913849,32674300,0.0,0.0
2,2022-01-05 00:00:00-05:00,318.831821,319.037313,309.164938,309.556305,40054300,0.0,0.0
3,2022-01-06 00:00:00-05:00,306.396024,311.826341,304.771823,307.110291,39646100,0.0,0.0
4,2022-01-07 00:00:00-05:00,307.374398,309.673719,303.401966,307.266785,32720000,0.0,0.0
...,...,...,...,...,...,...,...,...
604,2024-05-30 00:00:00-04:00,424.299988,424.299988,414.239990,414.670013,28424800,0.0,0.0
605,2024-05-31 00:00:00-04:00,416.750000,416.750000,404.510010,415.130005,47995300,0.0,0.0
606,2024-06-03 00:00:00-04:00,415.529999,416.429993,408.920013,413.519989,17484700,0.0,0.0
607,2024-06-04 00:00:00-04:00,412.429993,416.440002,409.679993,416.070007,14348900,0.0,0.0
608,2024-06-05 00:00:00-04:00,417.809998,424.079987,416.299988,424.010010,16970100,0.0,0.0

In [273]:
histCounter = 0
for i in range(len(shares_outstanding)):
    while hist.loc[histCounter,'Date'] != shares_outstanding.loc[i,'Date']:
        histCounter+=1
        if hist.loc[histCounter,'Date'] > shares_outstanding.loc[i,'Date']:
            break
        if hist.loc[histCounter,'Date'] == shares_outstanding.loc[i,'Date']:
            hist.loc[histCounter,'shares'] = shares_outstanding.loc[i,'shares']
            hist.loc[histCounter,'marketCap'] = hist.loc[histCounter,'Close'] * shares_outstanding.loc[i,'shares']

In [274]:
ans = 424.010009765625*7432309760
f'{ans:02,.0f}'

'3,151,373,733,919'

In [275]:
ans = 3151373733919
f'{ans:02,.0f}'

'3,151,373,733,919'

In [276]:
hist[['Volume','marketCap', 'shares']] = hist[['Volume','marketCap', 'shares']].map(lambda x: '{:02,.0f}'.format(x))
hist

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,shares,marketCap
0,2022-01-03 00:00:00-05:00,328.117155,330.709994,322.667282,327.530090,"28,865,100",0.0,0.0,nan,nan
1,2022-01-04 00:00:00-05:00,327.608299,327.970344,319.086167,321.913849,"32,674,300",0.0,0.0,nan,nan
2,2022-01-05 00:00:00-05:00,318.831821,319.037313,309.164938,309.556305,"40,054,300",0.0,0.0,nan,nan
3,2022-01-06 00:00:00-05:00,306.396024,311.826341,304.771823,307.110291,"39,646,100",0.0,0.0,nan,nan
4,2022-01-07 00:00:00-05:00,307.374398,309.673719,303.401966,307.266785,"32,720,000",0.0,0.0,nan,nan
...,...,...,...,...,...,...,...,...,...,...
604,2024-05-30 00:00:00-04:00,424.299988,424.299988,414.239990,414.670013,"28,424,800",0.0,0.0,"7,432,309,760","3,081,955,987,978"
605,2024-05-31 00:00:00-04:00,416.750000,416.750000,404.510010,415.130005,"47,995,300",0.0,0.0,"7,432,309,760","3,085,374,786,959"
606,2024-06-03 00:00:00-04:00,415.529999,416.429993,408.920013,413.519989,"17,484,700",0.0,0.0,nan,nan
607,2024-06-04 00:00:00-04:00,412.429993,416.440002,409.679993,416.070007,"14,348,900",0.0,0.0,nan,nan
608,2024-06-05 00:00:00-04:00,417.809998,424.079987,416.299988,424.010010,"16,970,100",0.0,0.0,"7,432,309,760","3,151,373,733,919"