In [61]:
import yfinance as yf
import pandas as pd
import numpy as np
import time

In [62]:
company_List = ['msft','aapl','nvda','tsm','avgo','asml','orcl','amd','crm','qcom','sap','adbe','csco','amat','acn','txn','intu','ibm','now','mu']
date = '2020-01-01'
#the reason for this date2 is because share data doesnt update daily and for when i merge backwards later need that date before my stock data
date2 = '2019-10-01'

In [63]:
def pull_Ticker_Data(company):
    ticker = yf.Ticker(f'{company}')
    hist = ticker.history(start=date)
    hist = hist.reset_index()
    hist['symbol'] = company
    return ticker,hist

In [64]:
def total_Shares(ticker):
    shares = ticker.get_shares_full(start=date2)
    shares = shares[~shares.index.duplicated(keep='first')]
    shares = shares.reset_index()
    shares = shares.rename(columns={0: 'shares','index': 'Date'})
    return shares

In [65]:
def combineHS(hist,shares):
    combined = pd.merge_asof(hist, shares, on='Date', direction='backward')
    return combined

In [66]:
#pull and merge data together
data = pd.DataFrame()
for company in company_List:
    ticker,hist = pull_Ticker_Data(company)
    shares = total_Shares(ticker)
    newData = combineHS(hist,shares)
    data = pd.concat([data, newData], ignore_index=True)
    time.sleep(0.25)

In [67]:
data.isna().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
symbol          0
shares          0
dtype: int64

In [68]:
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,symbol,shares
0,2020-01-02 00:00:00-05:00,152.449022,154.321267,152.016967,154.215652,22622100,0.0,0.0,msft,7628810240
1,2020-01-03 00:00:00-05:00,152.007384,153.572381,151.757741,152.295410,21116200,0.0,0.0,msft,7628810240
2,2020-01-06 00:00:00-05:00,150.816811,152.756272,150.269531,152.689056,20813700,0.0,0.0,msft,7628810240
3,2020-01-07 00:00:00-05:00,152.967533,153.303569,151.047278,151.296906,21634100,0.0,0.0,msft,7628810240
4,2020-01-08 00:00:00-05:00,152.593021,154.388469,151.652100,153.706772,27746500,0.0,0.0,msft,7725000192
...,...,...,...,...,...,...,...,...,...,...
22315,2024-06-03 00:00:00-04:00,128.130005,128.839996,125.150002,128.169998,16134300,0.0,0.0,mu,1107369984
22316,2024-06-04 00:00:00-04:00,127.349998,127.860001,125.419998,126.639999,12995500,0.0,0.0,mu,1107369984
22317,2024-06-05 00:00:00-04:00,128.800003,133.869995,127.650002,133.710007,22301800,0.0,0.0,mu,1120749952
22318,2024-06-06 00:00:00-04:00,133.839996,134.130005,129.179993,130.070007,15505000,0.0,0.0,mu,1120749952
22319,2024-06-07 00:00:00-04:00,130.210007,132.539993,129.619995,130.940002,12132600,0.0,0.0,mu,1107369984